@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.knowMoreContainer_knowMore_text{
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  font-family: 'Raleway', sans-serif;
}

.knowMoreContainer_knowMore_tittle{
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  font-family: 'Raleway', sans-serif;
}

.knowMoreContainer_knowMore{
  margin-top: 195px;
  padding-right: 160px;
}
