@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
%links {
  font-size: 16px;
  font-weight: 500px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  align-self: center;
}

.nav__linkContainer__normalLink--red{
   @extend %links;
  color:#fc3a52;
}

.nav__linkContainer__normalLink--normal{
   @extend %links;
  color: black;
}