.knowMoreContainer_knowMoreTwo{
  margin-top: 195px;
  margin-left: 180px;
  text-align: end;
  display: flex;
  flex-direction: column;
  

  
}

.knowMoreContainer_knowMore_textTwo{
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  
}

.knowMoreContainer_knowMore_tittleTwo{
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
}

.knowMoreContainer_knowMoreTwo_button{
 display: flex;
 justify-content: flex-end; 
}

