.boxitemcontainer__boxitem{
    width: 360px;
    height: 262px;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 15px 20px -5px rgba(55, 51, 49, 0.15);
    box-sizing: border-box;
}

.boxitemcontainer__boxitem__img{
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.boxitemcontainer__boxitem__text{
  font-family: Raleway;
  margin-top: 25px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.63;
}